*{
	margin: 0px;
	box-sizing: border-box;
}

nav{
	padding: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #196414;
	font-family: 'Hind', sans-serif;
}

.title{
	padding: 0px;
	color: white;
	text-transform: lowercase;
	letter-spacing: 3px;
	font-size: 28px;
	white-space: nowrap;
	display: inline-flex;
	text-align: left;
	float: left;
}

.logo{

	padding-right: 5px;
	justify-content: space-around;
	float: left;
}

.nav-links{
	padding: 0px;
	display: flex;
	width: 30%;
	justify-content: space-around;
}

.nav-links a{
	padding: 0px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	
}

.nav-links a:hover{
	opacity: 0.8;
}

.nav-links a:active{
	opacity: 0.6;
}

.nav-links li{
	list-style: none;
}

.real-body{
	padding: 30px;
	font-family: 'Hind', sans-serif; 
    overflow-y: scroll;
	width: auto;
	height: auto;
	-webkit-filter: blur(0px);
	align-content: center;
	text-align: left;


}

.goal{
	padding: 15px;
	background-color: #DBE8DB;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid #82A182;
}

.login{
	position: absolute;
	text-align: center;
	align-content: center;
	left: 32.5%;
	top: 25%;
	width: 530px;
	padding: 10px;
	background-color: #196414;
}

.order{
	position: absolute;
	text-align: center;
	align-content: center;
	left: 32%;
	top: 25%;
	width: 530px;
	padding: 10px;
	background-color: #4B7B4B;
	font-family: 'Hind', sans-serif; 
	overflow: scroll;
	height: 1000px;
	color: white;
}

.order input[type=text]{
	width: 500px;
	height: 60px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: white;
	font-family: 'Hind', sans-serif;
	font-size: 25px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.order input[type=button]{
	width: 500px;
	height: 70px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 25px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px; 
}

.order input[type=button]:hover{
	opacity: 0.8;
}

.order input[type=button]:active{
	opacity: 0.6;
}

.order input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login2{
	position: absolute;
	text-align: center;
	align-content: center;
	left: 32.5%;
	top: 25%;
	width: 530px;
	padding: 10px;
	background-color: #3A4187;
}

.login input[type=text]{
	width: 500px;
	height: 60px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: white;
	font-family: 'Hind', sans-serif;
	font-size: 25px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=password] {
	width: 500px;
	height: 60px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: white;
	font-family: 'Hind', sans-serif;
	font-size: 25px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 500px;
	height: 70px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 25px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px; 
}

.login input[type=button]:hover{
	opacity: 0.8;	
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

.login2 input[type=text]{
	width: 500px;
	height: 60px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: white;
	font-family: 'Hind', sans-serif;
	font-size: 25px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login2 input[type=password] {
	width: 500px;
	height: 60px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: white;
	font-family: 'Hind', sans-serif;
	font-size: 25px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login2 input[type=button]{
	width: 500px;
	height: 70px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 25px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px; 
}

.login2 input[type=button]:hover{
	opacity: 0.8;	
}

.login2 input[type=button]:active{
	opacity: 0.6;
}

.login2 input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login2 input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login2 input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

.login-body{
	position: absolute;
	text-align: center;
	align-content: center;
	left: 32.5%;
	top: 57%;
	width: 530px;
	padding: 10px;
	font-family: 'Hind', sans-serif;
}

#page-container{
	position: relative;
	min-height: 100vh;
}

#content-wrap{
	padding-bottom: 2.5rem;
}

#footer{
	padding: 0px;
	text-align: center;
	font-size: 15px;
	color: white;
	align-items: center;
	background-color: #196414;
	font-family: 'Hind', sans-serif; 
	position: fixed;
	width: 100%;
	bottom: 0%;
	height:5rem;
}